@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #464646;
  background-image: url("../assets/cheap_diagonal_fabric.png");
  background-blend-mode: color-burn; }

header {
  font-family: 'Raleway', sans-serif; }

span {
  color: #FAFAFA; }

a:hover {
  color: #d0d0d0; }

.outerWrap {
  width: 85%;
  background-image: url("../assets/leatherbg.jpg");
  background-size: cover;
  margin: 3vmin auto 0 auto;
  border: .3vmin solid #9D9E9E;
  border-radius: 8vmin; }
  @media screen and (max-width: 1000px) {
    .outerWrap {
      width: 100%; } }

.herobg {
  border-top-left-radius: 8vmin;
  border-top-right-radius: 8vmin; }

.headerNav {
  border-top: .3vmin solid #9D9E9E;
  border-bottom: .3vmin solid #9D9E9E;
  background: rgba(158, 158, 158, 0.39); }

.navButton {
  width: 24%;
  text-align: center;
  margin-bottom: 0; }
  @media screen and (max-width: 832px) {
    .navButton {
      width: inherit;
      margin-left: 2%; } }

.home article {
  margin: 2vmin 4vmin 5vmin 4vmin; }

section {
  text-align: center;
  margin: 0 auto; }
  section a {
    margin: 3vmin; }

.resume h2 {
  display: block;
  text-align: center;
  font-size: 3vmin;
  margin-bottom: 10vmin; }
  .resume h2 a {
    color: #FF5722;
    text-decoration: none; }
    .resume h2 a:hover {
      color: #BEC2C3; }

p {
  color: #9E9E9E;
  text-indent: 12vmin;
  line-height: 1.7;
  font-size: 2.2vmin;
  margin: 3vmin;
  text-align: left;
  font-family: 'Railway', sans-serif; }
  p:last-of-type {
    margin-bottom: 5vmin; }
  @media screen and (max-width: 1080px) {
    p {
      font-size: 2.5vmin;
      margin: 1vmin; } }

h1 {
  color: #FF5722;
  text-align: left;
  margin: 2.6vmin;
  border-bottom: 2px solid black;
  font-family: 'Orbitron', sans-serif;
  font-size: 5vmin;
  text-shadow: .3vmin .3vmin black; }

h2 {
  color: #0088CE;
  font-family: 'Open Sans', sans-serif; }

.dlResume {
  text-align: center;
  margin-left: 0;
  display: block;
  font-size: 3.5vmin; }

.footer {
  width: 100%;
  text-align: center;
  background: #FF5722;
  border-top: .3vmin solid #9D9E9E;
  border-bottom-left-radius: 8vmin;
  border-bottom-right-radius: 8vmin; }
  .footer a {
    font-size: 10vmin;
    margin: 7%;
    color: #BEC2C3; }
    .footer a:hover {
      color: #fff; }

.portImgContainer {
  border-bottom: 2px solid black;
  box-sizing: initial;
  margin: 10vmin auto 18vmin auto;
  width: 60vmin; }
  .portImgContainer:hover a {
    z-index: 1;
    transition: ease, z-index 1s; }
  .portImgContainer:last-of-type {
    border-bottom: none; }
  .portImgContainer h2 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    color: #9E9E9E;
    font-size: 3.5vmin;
    margin-bottom: 0; }
    .portImgContainer h2:first-of-type {
      margin-top: 10vmin; }
  .portImgContainer a {
    color: #9E9E9E; }

.portfolio {
  width: 60vmin;
  height: auto;
  display: block;
  margin: 0 auto;
  background: #0088CE;
  box-shadow: 1.5vmin 1.5vmin 5px #000; }
  .portfolio:hover {
    opacity: .5; }

.hidden {
  z-index: -1;
  text-decoration: none;
  transition: 1s ease, z-index;
  margin: 0 5%;
  position: relative;
  top: 33vmin;
  left: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5vmin;
  text-shadow: .2vmin .2vmin black; }
  .hidden:hover {
    z-index: 1;
    color: #FF5722; }
    .hidden:hover + a .hidden {
      z-index: 1; }
    .hidden:hover ~ img {
      opacity: .5; }

.contact {
  padding-bottom: 5vmin; }
  .contact i {
    font-size: 7vmin;
    color: #FF5722;
    width: 100%;
    text-align: center; }
    .contact i:hover {
      color: #BEC2C3; }
  .contact h2 {
    display: block;
    text-align: center;
    font-size: 4vmin; }
    .contact h2 a {
      color: #FF5722;
      text-decoration: none; }
      .contact h2 a:hover {
        color: #BEC2C3; }
